{% extends 'app/base.html' %}
{% block title %} About  {% endblock %}
{% block content %}
<div>
	<div class="text-center">
		<h2>Hello</h2>
	</div> 
	<div class="wrapper">
		<div class="sidebar-wrapper">
			<div class="sidebar-nav">
				<div class="row">
					<div class="col bg-primary text-light">
						<ul>
							<li><a href="#" class="text-light">Home</a></li>
							<li><a href="# " class="text-light">About</a></li>
							<li><a href="#" class="text-light">Contact</a></li>
							<li><a href="#" class="text-light">Login</a></li>
						</ul>
				
					</div>
					<div class="col">
						<h2>Hello</h2>
					</div>
				</div>
				
			</div>
		</div>
		
	</div>
</div>
{% endblock %}
